body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px; /* Add padding for better spacing inside the container */
    text-align: center; /* Align text in the center */
}
h1 {
    color: #d31c1c;
}

p {
    line-height: 1.2;
    text-align: left; /* This will apply left alignment to all <p> tags */
}

/* Target specific paragraphs in sections */
#AboutUs p, #Blogs p, #contactus p {
    text-align: left; /* Override center-aligned paragraphs specifically */
}


.image-container  {
    text-align:center
}

h2 {
    color: #1c7bd3;
}

h3 {
    color: purple
}


p {
    line-height: 1.2;
    text-align: center;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px; /* Add padding for better spacing inside the container */
    text-align: center; /* Align text in the center */
}
